body {
  text-align: center;
  color: hsl(185, 75%, 39%);
  font-size: 18px;
  font-family: Helvetica, Sans-Serif;
  background-color: black;
}
#card {
  border-radius: 10%;
  text-align: center;
  background-color: white;
  height: 450px;
}
#background-image {
  border-radius: 15% 15% 0 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
#nameage {
  position: relative;
  bottom: 3rem;
}
#name {
  margin-bottom: 0;
}
#age {
  margin-left: 0.5rem;
  margin-bottom: 0;
}
#location {
  margin: 0;
  padding: 0.5rem 2rem;
  border-top: solid hsl(185, 75%, 39%) 1px;
}
#logo {
  border-radius: 50%;
  border: solid 5px white;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}
.big {
  font-weight: bold;
  font-size: 1rem;
  color: hsl(229, 23%, 23%);
}
.small {
  font-size: 0.7rem;
  color: hsl(227, 10%, 46%);
}
#white-part {
  margin: 0;
}

#stats {
  display: block;
  margin: 0;
  position: relative;
  bottom: 3rem;
}
#followers, #likes, #photos {
  display: inline-block;
  margin: 2rem;
}
.container {
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
#logo {
  position: relative;
  bottom: 3rem;
}